<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="RHF.Core.Logging.NLogLoggerFactoryAdapter, RHF.Core">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="../NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="EFConnectionMetadata" value="metadata=res://*/RHF.DataModel.csdl|res://*/RHF.DataModel.ssdl|res://*/RHF.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}Persist Security Info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add key="ConnectionString" value="SW3Leeu0h0JZuFupCMBllB4BtjCHZ4/EJ0Dv8Jlcu+nwfzHWrUYD5n1PSaCpLNTxpurg/sb3uoU5UbjcYUaKQarzH6AJ5TrQhAoux/GgFVQoOYEjqrINmkC0OqFf5GwBgFSrRTF2AqU=" />
  </appSettings>
</configuration>