<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logDirectory" value="../App_Data/logs/${shortdate}"/>
	<targets>
		<target name="File" xsi:type="File" fileName="${logDirectory}/log" layout="${longdate} - ${level} - ${logger} - ${callsite} - ${message}" />
	</targets>

	<rules>
		<logger name="*" levels="Debug,Error,Info" writeTo="File" />
	</rules>

</nlog>