.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #ff0000;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #ffffff;
	border-radius: 10px;
}
